SUPABASE_PROJECT_REF=xfoizpniywllpgyycska
NEXT_PUBLIC_SUPABASE_URL=https://xfoizpniywllpgyycska.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
DATABASE_URL=postgresql://postgres.xfoizpniywllpgyycska:[SUA-SENHA]@aws-0-sa-east-1.pooler.supabase.com:6543/postgres?pgbouncer=true
DIRECT_URL=postgresql://postgres:[SUA-SENHA]@db.xfoizpniywllpgyycska.supabase.co:5432/postgres
RECEITA_MOCK=false
